@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
@import "../../node_modules/@fortawesome/fontawesome-free/css/all.min.css";

// generals

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-marcellus {
    font-family: 'Marcellus', serif;
}

.font-questrial {
    font-family: 'Questrial', sans-serif;
}

// HEADER

.container-h {
    width: 100%;
    margin: 0 auto;
}

// MAIN





// FOOTER

.bg-footer {
    width: 100%;
    margin: 0 auto;
    background-color: rgb(122, 113, 105);
}

.container-f {
    width: 90%;
    margin: 0 auto;

}