@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@400;500;700&display=swap');
@import "../../node_modules/@fortawesome/fontawesome-free/css/all.min.css";
@import '../../src/styles/vue-slick-carousel.css';

// generals

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-marcellus {
    font-family: 'Marcellus', serif;
}

.font-questrial {
    font-family: 'Questrial', sans-serif;
}

.font-oswald {
    font-family: 'Oswald', sans-serif;
}

.font-jura {
    font-family: 'Jura', sans-serif;
}

.text-black {
    color: black;
}

// HEADER

.container-h {
    width: 100%;
    margin: 0 auto;
}

// MAIN

.container-80 {
    width: 80%;
    margin: 0 auto;
}





// FOOTER

.bg-footer {
    width: 100%;
    margin: 0 auto;
}

.container-f {
    width: 90%;
    margin: 0 auto;

}